[tool.poetry]
name = "django-easy-tenants"
version = "0.4.0"
description = "Easy to create applications that use tenants in django"
authors = ["Cleiton Lima <cleiton.limapin@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/CleitonDeLima/django-easy-tenants"
homepage = "https://github.com/CleitonDeLima/django-easy-tenants"
classifiers = [
    'Environment :: Web Environment',
    'Framework :: Django',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Topic :: Internet :: WWW/HTTP :: Dynamic Content',
]
packages = [
    {include = "easy_tenants"}
]

[tool.poetry.dependencies]
python = ">=3.6"
django-appconf = "^1.0.4"

[tool.poetry.dev-dependencies]
pytest = "^5.4.1"
pytest-django = "^3.9.0"
pytest-cov = "^2.8.1"
ipython = "^7.13.0"
tox = "^3.14.6"
tox-gh-actions = "^1.2.0"
django = ">=2"
django-environ = "^0.4.5"
black = "^20.8b1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
