[tool.poetry]
name = "django-easy-tenants"
version = "0.8.0"
description = "Easy to create applications that use tenants in django"
authors = ["Cleiton Lima <cleiton.limapin@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/CleitonDeLima/django-easy-tenants"
homepage = "https://github.com/CleitonDeLima/django-easy-tenants"
classifiers = [
    'Environment :: Web Environment',
    'Framework :: Django',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Topic :: Internet :: WWW/HTTP :: Dynamic Content',
]
packages = [
    {include = "easy_tenants"}
]

[tool.poetry.dependencies]
python = "^3.7"
django-appconf = "^1.0.4"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-django = "^4.5.2"
pytest-cov = "^4.0.0"
ipython = "^7.34.0"
django-environ = "^0.9.0"
black = "^22.12"
isort = "^5.8.0"
flake8 = "^5.0.4"
psycopg2-binary = "^2.9.6"

[tool.black]
line-length = 80
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
)/
'''

[tool.isort]
profile = "black"
line_length = 80
multi_line_output = 3
include_trailing_comma = true
skip = "migrations"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = """\
    --strict-config
    --strict-markers
    --ds=tests.settings
    """
testpaths = [
    "tests",
]
python_files = [
    "tests.py",
    "test_*.py",
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
